/* color:#680000; 
    background-color: #ffc675; */

    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#container{
    background-image: url("../img/bgHome.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5rem;
    min-height: 100vh;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container-card{
    padding:1rem;
    align-items: center;
    width: 100%;
    max-width: 700px; 
    height: max-content; 
    display:flex;
    flex-wrap: wrap;
    background-image: url("../img/bgHard.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:20px;
    justify-content: center;
    box-shadow: 0 3px 18px #595959;
}

/* header */
#header{
    background-image: url("../img/bgPaper.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 10vh;
    margin-bottom: 1rem;
    display:flex;
    flex-direction: row;
    flex-basis:100%; 
    border: none;
    border-radius: 10px;
    padding: 1rem;
    align-items: center;
    color: #FBF5DD;
    justify-content: space-between;

}

/* button home & rules */
#btn-game{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: max-content;
    gap:2vh;
    align-items: self-start;
}
#btn-home, #btn-rules{
    width:3rem;
    height: 3rem;
    align-items: start;
    border: none;
    border-radius: 8px;
    padding: 8px;
    font-size: 2rem;
    color: #680000;
    transition: all 0.3s ease; 
    text-decoration: none;
    background: none;
}
#btn-home i, #btn-rules i{
    display:flex;
    justify-content: center; 
}
#btn-home:hover, #btn-rules:hover{
   background-color: #680000;
    color: #FEFDDF;
    transform: scale(1.04);    
    box-shadow: 0 3px 10px #680000;
}

/* score and timer */
#score-timer{
    display: flex;
    flex-direction: row;
    height: max-content;
    justify-content: center; 
    margin-top: 1rem;
     
    gap:2rem;
}
/* score */

/* scorenum */
#scoreNum{ 
    min-width:120px;
    width:auto;
    height: 3rem;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    font-weight: 700;
    font-size: 1.6rem;
    color: #680000;
    display: flex;
    align-items: center;
    justify-content: start; 
}

/* timer */
#timer{ 
    min-width:100px;
    width:auto;
    height: 3rem;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    font-weight: 700;
    font-size: 1.6rem;
    color: #680000;
    display: flex;
    align-items: center;
    justify-content: end; 
}



/* question */
#quest{
    background-image: url("../img/bgPaper.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    color: #680000;
    display:flex;
    flex-direction:column;
    width:100%;
    max-width:675px;
    height:max-content;
    font-family: "Inter", sans-serif;
    padding:2rem;
    /* margin-top:1rem; */
    margin:0 auto;
    gap:3rem;
    align-content: center;
    justify-content: center;
    flex-basis:100%;
}
.guess{
    display:flex;
    flex-direction: row;
    font-weight: 700;
    font-size:2.2rem;
    margin-left: 26rem;  
}

/* img, question, and hint */
#img-quest{
    height:max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis:100%;
    justify-content: space-around; 
}
/* img */
.figure{
    width: 13rem;
}

/* group element for audio, hint button, and user input */
.btnQuest{
    display:flex;
    flex-direction: column;
    margin:0;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    width: 100%;
    max-width: 400px;
    gap:1.5rem;
}

/* audio and hint button */
#audio-hint{
    width: 100%;
    max-width: 420px;
    height: max-content;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;  
    margin:0 auto; 
    
}

/* button play audio */
#btn-audio{
    width:100%;
    max-width: 10rem;
    height:max-content;
    display:flex;
    justify-content: center;
    padding: 0.6rem;
    background-color: #FFDE63;
    color:#680000;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 700;
    font-style: italic;
    transition: all 0.4s ease; 
}
#btn-audio i{
    display:flex;
    font-size: 1.8rem; 
}
#btn-audio:hover{
    background-color: #680000;
    color:#FBF5DD;
    transform: scale(1.04);    
    box-shadow: 0 3px 10px #680000;
}

/* button hint */
#btn-hint{
    width:100%;
    max-width: 10rem;
    height:max-content;
    display:flex;
    justify-content: center;
    padding: 0.6rem;
    background-color: #FFDE63;
    color:#680000;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 700;
    font-style: italic;
    transition: all 0.4s ease; 
}
#btn-hint:hover{
    background-color: #680000;
    color:#FBF5DD;
    transform: scale(1.04);    
    box-shadow: 0 3px 12px #BCD9A2; 
}

#userInput{
    background-image: url("../img/bgPaper.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 420px;
    padding: 0.3rem;
    text-align: center;
    border: 2px solid #680000;
    border-radius: 6px;
    font-size: 1.2rem;
    color:#680000;
    font-weight: 500;
}

#userInput:active{
    border: 2px solid #680000;
}

#btn-check{
    width: 100%;
    max-width: 420rem;
    margin:0 auto;
    background-color: #680000;
    color:#FBF5DD;
    font-weight: 800;
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    transition: all 0.3s ease; 
}

#btn-check:hover{
    background-color: #FFB300;
    color:#680000;
    transform: scale(1.04);    
    box-shadow: 0 3px 12px #680000; 
}
/* when button check disabled */
#btn-check:disabled{
    background-color: #ccc; 
    color: #666;            
    cursor: not-allowed;    
    opacity: 0.7;           
}

/* hint area */
#hintCard{
    margin-top:1.2rem;
    color:#680000;
    background-color: #ffc675;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    visibility: hidden;
}



/* sweetAlert2 popup */
.swal2-popup {
    background-color: #ffffff !important; 
    border-radius: 15px !important;      
    color: #680000 !important;  
    box-shadow: 0 4px 22px #707070 !important; 
    transition: all 0.3s ease !important;
    padding: 1rem !important;
}

/* sweetAlert2 button*/
.swal2-confirm {
    background-color: #680000  !important;
    font-weight: 700;
    color: #FBF5DD !important; 
    border-radius: 8px !important;
    margin: 1rem !important;
    transition: all 0.3s ease; 
}

.swal2-confirm:hover {
    transform: scale(1.06) !important;    
    box-shadow: 0 2px 10px #680000  !important; 
}

.swal2-cancel {
    background-color: #FFDE63 !important; 
    font-weight: 700;
    color: #680000  !important;
    border-radius: 8px !important;
    margin: 1rem !important;
    transition: all 0.3s ease; 
}

.swal2-cancel:hover {
    transform: scale(1.06) !important;    
    box-shadow: 0 2px 10px #FFDE63 !important; 
}

/* phone media query  */
@media (max-width: 768px){
  
    .container-card{
        width:max-content;
        padding:1rem;
    }

    #score-timer{
        display: flex;
        flex-direction: row;
        height: max-content;
        justify-content: center; 
        margin-top: 1rem;
        padding:0.5rem; 
        gap:2rem;
        font-size:0.8rem;
    }
    #score-timer{
        width:max-content;
    }
    #quest{
        font-size:1rem;
        padding:1.5rem;
        gap:1rem;
        justify-content: center;
    }
    #img-quest{
        gap:3rem;
    }
    .guess{
        margin-top: 1.5rem;
        margin-left: 0; 
        justify-content: center;
    }
    .figure{
        width: 12rem;
    }
    #audio-hint{
        justify-content: space-between;
        top:2rem; 
    }

    #btn-game{
        width:max-content;
        padding: 0.2rem;
    }
    
    #btn-check{
        font-size: 1.2rem;
    }
    #btn-check:hover{
        background-color: #FFB300;
        color:#680000;
        transform: scale(1.02);    
        box-shadow: 0 3px 15px #ab3b3b; 
    }
}